.mainColorOrange {
    color: #f06845;
}

.mainColorGreen {
    color: #32CD32;
}

.mainBackgroundColorGreen{
    background-color: #32CD32;
}

.mainBackgroundColorOrange{
    background-color: #32CD32;
}